DATABASE_URL="postgresql://postgres:123456789@localhost:5432/barbershop?schema=public"
JWT_ACCESS_SECRET="a8f3d9c1e4b6c9d2f7a8e1b3c4d5e6f7"
JWT_REFRESH_SECRET="b9e4c7d2a1f6e8c3d5b7a9c2e4f6d8a1"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"
PORT=4000
NODE_ENV="development"
CLIENT_URL="https://estilo-fino-web.onrender.com"